:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(0, 0, 0); /* text color for light theme */
  
  /* Light theme variables */
  --bg-color: #ffffff;
  --text-color: #333333;
  --highlight-color: #dd75f7;
  --card-bg: #ffffff;
  --card-shadow: rgba(255, 148, 255, 0.911);
  --button-bg: #dd75f7;
  --button-hover-bg: #813f92;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"] {
  --bg-color: #1a1a1a;
  --text-color: #f0f0f0;
  --highlight-color: #ff75c1;
  --card-bg: #2a2a2a;
  --card-shadow: rgba(0, 0, 0, 0.5);
  --button-bg: #ff75c1;
  --button-hover-bg: #813f92;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
